/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-backface-visibility: hidden;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

body {
  font: 0.24rem/1.5 "SimSun",serif;
  color: #331f19;
  background: #ededee url("../img/bg-2.png") bottom center no-repeat;
  background-size: 100%;
}

.wrap {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 12rem;
  left: 0;
  top: 0;
  overflow: hidden;
  background: url("../img/bg-1.png") no-repeat;
  background-size: 100%;
}

.logo {
  width: 2.75rem;
  height: 1.02rem;
  margin: 0.45rem auto 0rem;
}

.pin {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0;
  text-align: center;
}
.pin.pin-1 {
  z-index: 100;
}
.pin.current {
  display: block;
}
.pin .inner {
  position: absolute;
  margin: 2.4rem auto 0;
  width: 100%;
}

.buttons {
  position: relative;
  width: 3.4rem;
  height: 0.86rem;
  margin: 0.4rem auto 0.2rem;
  background: url("../img/button.png") no-repeat;
  background-size: 100%;
  font-size: 0.3rem;
  color: #24160f;
  text-align: center;
  line-height: 0.7rem;
}
.buttons:after {
  content: '';
  display: block;
  border-left: #473832 0.12rem solid;
  border-top: transparent 0.09rem solid;
  border-bottom: transparent 0.09rem solid;
  position: absolute;
  right: 0.3rem;
  top: 32%;
}

.line {
  width: 4.21rem;
  height: 0.15rem;
  margin: 0.3rem auto 0.45rem;
}

.animate-gif {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
}

.pin-1 .p1-4 {
  width: 5.8rem;
  height: 7.25rem;
  margin: 2.2rem auto 0rem;
  background: url("../img/p1-1.png") no-repeat;
  background-size: 100%;
  text-align: center;
  line-height: 1.5;
}
.pin-1 .title {
  padding-top: 2.3rem;
  font-weight: bold;
  font-size: 0.34rem;
}
.pin-1 .p1-des {
  width: 2.7rem;
  margin: 0.7rem auto 0rem;
}
.pin-1 .small-font {
  font-size: 0.22rem;
}
.pin-1 .p1-2 {
  width: 100%;
  height: 0.5rem;
  background: #dededf;
  text-align: center;
}
.pin-1 .p1-5 {
  font-size: 0.24rem;
  text-align: center;
}

.pin-2 {
  text-align: center;
}
.pin-2 .p2-t1 {
  margin-top: 0.4rem;
  font-size: 0.48rem;
  font-weight: bold;
}
.pin-2 .p2-t1.tt {
  font-size: 0.57rem;
}
.pin-2 .p2-2 {
  font-size: 0.6rem;
  font-weight: bold;
}
.pin-2 .p2-3 {
  font-size: 0.29rem;
}

.prize {
  margin-top: 0.4rem;
  font-size: 0.38rem;
}
.prize .p3-t1 {
  display: block;
  font-size: 0.59rem;
}
.prize.prize-2 {
  display: none;
}

.pin-5 .p4-txt {
  margin-top: 0.8rem;
  font-size: 0.28rem;
}
.pin-5 .p4-txt strong {
  display: block;
}

#form-contact input[type='text'],
#form-contact input[type='number'] {
  width: 5rem;
  height: 0.8rem;
  background: #f9f9f9;
  border: #c0bcbb 1px solid;
  margin-bottom: 0.5rem;
  font-size: 0.32rem;
  color: #331f19;
  text-indent: 0.6rem;
}

.pin-6 .p6-1 {
  font-size: 0.42rem;
}
.pin-6 .p6-2 {
  margin-top: 0.4rem;
  font-size: 0.42rem;
}
.pin-6 .line {
  margin: 0.1rem auto 0.3rem;
}
.pin-6 .p6-3 {
  font-size: 0.22rem;
}

#__bs_notify__ {
  display: none !important;
}
