/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "_mixins.scss";
@import "_animate.scss";

strong{
  font-weight: bold;
}
img{
  width: 100%;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.error {
  position: absolute;
  display: block;
  width: 5rem;
  bottom: -20px;
  left: 50%;
  margin-left: -2.5rem;
  text-align: left;
}
.qrcode{
  @include size(4.51rem,6.46rem);
  margin: 1.6rem auto 0;
  position: relative;
  z-index: 100;
}

body{
  font:0.24rem/1.5 "SimSun",serif;
  color: #000000;
}

//for loading
.preloading{
  //display: none;
  position: absolute;
  z-index: 2;
  background: #fff;
  @include size(100%,100%);
  top: 0;
  text-align: center;
  .inner{
    @include size(4.4rem,3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5rem;
    margin-left: -2.2rem;
  }
  .l-logo{
    @include size(1.89rem,0.78rem);
    margin: 0 auto;
    //@include swing($duration:1s,$count:infinite);
    @include transform(translate(-5px));
    @include animation(lefttoright linear 2s infinite);

  }
  .icon-loading{
    margin:0.2rem auto;
    span{
      display: inline-block;
      @include size(0.1rem,0.1rem);
      background: #848484;
      margin-right: 0.1rem;
      @include vendor-prefix(border-radius,100%);

      &:nth-child(1){
        @include animation(loading 1.5s infinite);
      }
      &:nth-child(2){
        @include animation(loading 1.5s infinite 0.5s);
      }
      &:nth-child(3){
        @include animation(loading 1.5s infinite 1s);
      }
    }
  }
}
@include keyframes(loading){
  0%{
    background: #000;
  }
  66%{
    background: #848484;
  }
}
@include keyframes(lefttoright){
  0%{
    @include transform(translate(-5px));
  }
  50%{
    @include transform(translate(5px));
  }
}

.wrapper{
  background: url("../img/v2/bg.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  &.landscape{
    background-size: 100%;
  }
}
//for wrap
.wrap{
  z-index: 2;
  position: absolute;
  width: 6.16rem;
  height: 10.10rem;
  left: 50%;
  top: 50%;
  margin-left: -3.08rem;
  margin-top: -5.05rem;
  //overflow: hidden;
  background: #fff;
  background-size: 100%;
}
.logo{
  @include size(2.75rem,1.02rem);
  margin: 0.45rem auto 0rem;
}

//for pin
.pin {
  //display: none;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0;
  text-align: center;
  overflow: hidden;
  @include vendor-prefix(transition,opacity 0.6s);
  &.current{
    //display: block;
    opacity: 1;
    z-index: 100;
  }
  .inner{
    position: absolute;
    margin: 2.5rem auto 0;
    //margin: 125px auto 0;
    width: 100%;
  }
  &.pin-2{
    background: #f3f3f3;
  }
  &.pin-3{
    background: #edebee;
  }
  &.pin-4{
    background: #f1f2f2;
  }
  &.pin-6{
    background: #f9f8f9;
  }
}

.buttons{
  position: relative;
  @include size(5rem,0.86rem);
  margin: 0.2rem auto 0rem;
  background: #000;
  font-size: 0.36rem;
  color: #fff;
  text-align: center;
  line-height: 0.86rem;
  //&:after{
  //  content: '';
  //  display: block;
  //  @include triangle-right(#473832,0.12rem,0.09rem);
  //  position: absolute;
  //  right: 0.3rem;
  //  top: 32%;
  //}
  &.p1-3{
    margin: 0.4rem auto;
  }
  //&.p3-5{
  //  background-position: 0% 100%;
  //}
  //&.p4-5{
  //  background-position: 0% 46%;
  //  left: 0.3rem;
  //}
  //&.btn-submit{
  //  background-position: 0% 72%;
  //  left: 0.4rem;
  //}
  //&.gocoupon{
  //  left: 0.3rem;
  //}

}
.line{
  @include size(4.21rem,0.15rem);
  margin: 0.3rem auto 0.45rem;
}
//.animate-gif{
//  @include size(7.5rem,6.64rem);
//  margin: 0 auto;
//  overflow: hidden;
//}

//for .pin-1
.pin-1{
  text-align: center;
  line-height: 1.2;
  .p1-1{
    @include size(4.32rem,1.14rem);
    margin: 0.6rem auto 0.5rem;
  }
  .title{
    font-weight: normal;
    font-size: 0.41rem;
  }
  .p1-des{
    font-size: 0.41rem;
    margin: 0.2rem auto 0rem;
  }
  .small-font{
    display: block;
    margin: 0.2rem auto 0rem;
  }
  .marquee-wrap{
    margin-top:0.5rem;
    background: url("../img/mar2.png") no-repeat;
    background-size: 100%;
  }
  .p1-2{
    position: relative;
    @include size(60%,0.5rem);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    .list{
    }
    li{
      display: inline-block;
      margin:0px 2px 0px 2px;
      text-align: left;
      height: 0.5rem;
      line-height: 0.4rem;
      padding: 0.04rem 0 0;
    }
  }
  .p1-5{
    position: relative;
    font-size: 0.28rem;
  }

}

//for .pin-2
.pin-2{
  text-align: center;
  .p2-shake{
    margin: 0.6rem auto 0.3rem;
    @include size(0.69rem,0.8rem);
    @include tada($duration:2s,$count:infinite);
  }
  .p2-1{
    margin: 0.4rem auto 0.4rem;
    @include size(6.14rem,5.57rem);
  }
  .p2-t1{
    font-size: 0.48rem;
  }
  .p2-2{
    font-size: 0.6rem;
  }
}

.prize{
  margin-top: 0.5rem;
  font-size: 0.36rem;
  .p3-t1{
    display: block;
    font-size: 0.56rem;
  }
}

//for pin-3
.pin-3{
  .prize-2{
    display: none;
  }
  .gocoupon{
    display: none;
  }
  &.getcoupon{
    background: #fff;
    .prize-2{
      display: block;
      .p3-1{
        text-align: right;
        @include size(6.16rem,5.24rem);
        margin: 0.2rem auto 0.6rem;
        img{
          @include size(6.14rem,5.24rem);
        }
      }
    }
    .gocoupon{
      display: block;
    }
    .prize-1{
      display: none;
    }
    .p3-5{
      display: none;
    }
  }
  .p3-1{
    position: relative;
    @include size(5.76rem,5.53rem);
    margin:0.5rem 0rem 0.2rem -0.05rem;
  }
}

//for pin-4
.pin-4{
  .p3-1{
    margin-top: 0.6rem;
  }
}
//for pin-5
.pin-5{
  .p4-txt{
    margin: 0.8rem auto 1.2rem;
    font-size: 0.4rem;
    strong{
      display: block;
    }
  }
}
#form-contact{
  .input-box{
    position: relative;
    margin-bottom: 0.5rem;
  }
  input[type='text'],
  input[type='tel'],
  .input-phone{
    @include size(5rem,0.8rem);
    background: #fff;
    border:#000 1px solid;
    -webkit-appearance: none;
    @include vendor-prefix(border-radius,0px);
    font-size: 0.32rem;
    color: #331f19;
    text-indent: 0.6rem;
  }
  .btn-submit{
    margin-top: 1rem;
  }
}


//for pin-6
.pin-6{
  .p6-1{
    @include size(6.15rem,4.82rem);
  }
  .p6-2{
    margin: 0.9rem auto;
    font-size: 0.56rem;
  }
  .p6-3{
    font-size: 0.3rem;
  }
  .gocoupon{
    margin-top: 0.9rem;
  }
}

//for pin-7
.pin-7{
  .inner{
    margin: 3.5rem auto 0
  }
  .title{
    margin-top: 0.3rem;
    font-size: 0.4rem;
  }
  .content{
    width: 80%;
    text-align: left;
    font-size: 0.24rem;
    margin: 0.1rem auto 0.2rem;
  }
  .content-wrap{
    overflow: auto;
    height: 7.6rem;
  }
}

//for share
.share{
  display: none;
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255,255,255,0.9);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,1)), to(rgba(255,255,255,0.7)));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.7));

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.7));

  /* IE 10 */
  background: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.7));

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.7));
  text-align: center;
  img{
    @include size(4.23rem,1.15rem);
    margin: 1.8rem auto 0;
  }
}


//for ajax loading
.ajaxpop{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  background: rgba(0,0,0,0.4);
  .loading{
    position: absolute;
    width: 2rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    margin-left: -1.1rem;
    margin-top: -0.6rem;
    line-height: 1rem;
    background: #7C7C7C;
    padding: 0.2rem;
    @include vendor-prefix(border-radius,10px);
    text-align: center;
    color: #fff;
  }
  .icon-loading{
    display: inline-block;
    position: relative;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 4px;
    vertical-align: middle;
    @include vendor-prefix(border-radius,100%);
    border: 3px solid rgba(255, 255, 255, 0.4);
    &:after{
      content: '';
      position: absolute;
      top: -3px;
      right: -3px;
      bottom: -3px;
      left: -3px;
      @include vendor-prefix(border-radius,100%);
      border: 3px solid transparent;
      border-top-color: #fff;
      -webkit-animation: spin 1s linear infinite;
    }
  }
}

@include keyframes(spin){
  0%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}


//test
#__bs_notify__{
  display: none !important;
}
