<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>遇见COACH圣诞好礼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="/css/emoji.css"/>

    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/rem.js"></script>
    <script type="text/javascript" src="/js/marquee.js"></script>

    <script type="text/javascript" src="http://wechatjs.curio.im/api/v1/js/10b39d84-e3e5-4f50-873f-76ec05ed6aaf/wechat.js"></script>

    <script type="text/javascript" src="/js/service.js"></script>
    <script type="text/javascript" src="/js/shake.js"></script>
    <script type="text/javascript" src="/js/wxshare.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div class="preloading">
    <div class="inner">
        <div class="l-logo">
            <img src="../img/loading-logo.png" alt=""/>
        </div>
        <div class="icon-loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="des-loading">
            目前涌入的小伙伴过多<br>
            页面正在跳转中，请耐心等待。
        </p>
    </div>
</div>
<div class="wrapper">
    <div class="wrap">
        <!-- Homepage 我要摇奖 -->
        <section class="pin pin-1">
            <div class="p1-1">
                <img src="../img/v2/p1-1.png" alt=""/>
            </div>
            <h3 class="title">
                感谢您<br>
                在这一年的持续支持
            </h3>
            <p class="p1-des">
                您一如既往的关注更是<br>
                COACH前进的动力
                <span class="small-font">在温馨的圣诞节，我们为您<br>
                    准备了惊喜好礼，拿起<br>
                    手机摇一摇，遇见最贴心的<br>
                    COACH圣诞礼遇
                </span>
            </p>
            <div class="marquee-wrap">
                <div class="p1-2" id="marquee">
                    <ul class="list">
                        <li>amber已经中奖1 </li>
                        <li>amber已经中奖1 </li>
                        <li>amber已经中奖1 </li>
                    </ul>
                </div>
            </div>
            <div class="p1-3 buttons">
                我要摇奖
            </div>
            <div class="p1-5">
                活动细则
            </div>
        </section>

        <!-- 摇一摇-->
        <section class="pin pin-2">
            <div class="p2-shake">
                <img src="../img/v2/icon-sp.png" alt=""/>
            </div>
            <div class="p2-t1">
                摇一摇
            </div>
            <div class="p2-1 animate-gif">
                <img src="../img/v2/dog-1.jpg" alt=""/>
            </div>
            <div class="p2-2">
                遇见 . 圣诞好礼
            </div>
        </section>

        <!-- 摇一摇成功页面 -->
        <section class="pin pin-3">
            <!-- get prize-->
            <div class="prize prize-1">
                <div class="pz-1">
                    <span class="p3-t1">恭喜你摇到了</span>
                    价值千元的COACH福袋
                </div>
                <div class="p3-1 animate-gif">
                    <img src="../img/v2/dog-2.png" alt=""/>
                </div>
            </div>
            <!-- 1000元prize-->
            <div class="prize prize-2">
                <div class="pz-1">
                    <span class="p3-t1">恭喜你摇到了</span>
                    COACH圣诞钟情礼券
                </div>
                <div class="p3-1 animate-gif">
                    <img src="../img/v2/dog-2-2.png" alt=""/>
                </div>
            </div>
            <div class="p3-5 buttons">
                留下你的获奖信息
            </div>
            <div class="gocoupon buttons">
                领取圣诞礼券
            </div>
        </section>

        <!-- 摇一摇失败页面 -->
        <section class="pin pin-4">
            <div class="prize no-prize">
                <span class="p3-t1">很遗憾</span>
                你没有摇到礼物
            </div>
            <div class="p3-1 animate-gif">
                <img src="../img/v2/dog-3.png" alt=""/>
            </div>
            <!-- 1000元prize-->
            <div class="p4-5 buttons">
                再摇一次
            </div>
        </section>

        <!-- 填写个人信息-->
        <section class="pin pin-5">
            <p class="p4-txt">
                圣诞老人准备出发了
                <strong>请完善以下信息</strong>
            </p>
            <form action="post" id="form-contact">
                <div class="input-box input-box-name">
                    <input type="text" name="name" class="input-name" placeholder="姓名/NAME"/>
                </div>
                <div class="input-box input-box-phone">
                    <input type="number" name="phone" class="input-phone" placeholder="手机/MOBILE PHONE"/>
                </div>
                <div class="buttons btn-submit">
                    提交
                </div>
            </form>
        </section>

        <!-- 礼物页面-->
        <section class="pin pin-6">
            <div class="p6-2">
                提交成功
            </div>
            <div class="p6-1 animate-gif">
                <img src="../img/v2/dog-4.png" alt=""/>
            </div>
            <div class="buttons gocoupon">
                领取圣诞礼券
            </div>
        </section>

        <!-- 活动细则-->
        <section class="pin pin-7">
           <h3 class="title">活动细则</h3>
            <p class="content content-1">
                参与本活动无需以购买蔻驰产品或服务为前提。购买我们的产品或服务并不会增加你在本次活动中的获胜机会。
            </p>
            <p class="content content-2">
                1. 参与资格: 任何年满18岁的中国大陆公民均有资格参与蔻驰微信“摇一摇，遇见COACH圣诞好礼”活动（以下简称本活动）。蔻驰在中国的雇员、经理和各级代表及其直系亲属（父母，配偶，子女，兄弟姐妹）及家庭成员不得参与本次活动。本次活动将严格遵守中华人民共和国的相关法律及法规。参与本活动表示你同意无条件完全遵守本活动细则以及活动主办方的相关决定。奖品的获取是在参与者完成了所有规定任务之后按完成时间优先排序选取的。
            </p>
            <p class="content content-2">
                2. 活动主办方: 蔻驰贸易（上海）有限公司
                南京西路1717号会德丰广场20楼，200042.
            </p>
            <p class="content content-3">
                3. 活动时间: 本活动将于2015年12月18日北京时间上午10点开始，截止时间为2015年12月27日，活动主办方的电脑
            </p>
            <div class="buttons p7-btn">
                知道了
            </div>
        </section>
    </div>
    <div class="share">
        <img src="../img/share-3.png" alt=""/>
    </div>
</div>
</body>
</html>