<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>遇见COACH圣诞好礼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" class="__web-inspector-hide-shortcut__">
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <!-- production-->
    <script type="text/javascript" src="/js/rem.js"></script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c792d889f71f75405d19198872cba4ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="wrapper">
    <div class="wrap">
        <div class="logo">
            <img src="../img/logo.png" alt=""/>
        </div>
        <!-- qrcode-->
        <section class="qrcode">
            <img src="../img/qrcode.png" alt=""/>
        </section>
    </div>
</div>
</body>
</html>